#card-form {
    margin-bottom: 8px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

#card-inputs {
    margin-bottom: 16px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px 8px;
}

.input-wrapper {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
}

.input-field {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.input-field label {
    font-size: 12px;
    font-weight: 500;
}

.input-field input {
    padding: 10px 12px;
    width: 100%;
    border: solid 1px #C7C9D1;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 400;
    box-shadow: 0 2px 4px -2px rgba(0, 0, 0, 0.12);
}

.input-field:first-child {
    grid-column: span 2;
}

.input-tooltip {
    position: absolute;
    right: 12px;
    cursor: help;
}

.error {
    font-size: 12px;
    font-weight: 500;
    color: #CD3737;
}